*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#667eea,#764ba2);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:30px;
}

.container{
    width:850px;
    background:#fff;
    border-radius:15px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

header h1{
    color:#333;
    font-size:32px;
}

#themeBtn{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:#4f46e5;
    color:#fff;
    cursor:pointer;
    font-size:18px;
}

.search-box{
    margin-bottom:20px;
}

.search-box input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
    font-size:16px;
}

.task-box{
    display:grid;
    grid-template-columns:2fr 1fr 1fr auto;
    gap:10px;
    margin-bottom:20px;
}

.task-box input,
.task-box select{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

#addBtn{
    background:#4f46e5;
    color:#fff;
    border:none;
    padding:12px 18px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

#addBtn:hover{
    background:#3730a3;
}

.filter{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.filter button{
    padding:10px 18px;
    border:none;
    background:#ececec;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.filter button:hover{
    background:#4f46e5;
    color:white;
}

#taskList{
    list-style:none;
}

#taskList li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#f7f7f7;
    padding:15px;
    margin-bottom:12px;
    border-radius:10px;
    border-left:6px solid #4f46e5;
    transition:.3s;
}

#taskList li:hover{
    transform:translateY(-2px);
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    margin-top:25px;
}

.card{
    background:#4f46e5;
    color:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

.card h3{
    margin-bottom:10px;
    font-size:18px;
}

.card p{
    font-size:28px;
    font-weight:bold;
}

.progress{
    margin-top:25px;
}

.progress-bar{
    width:100%;
    height:12px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
}

#progressFill{
    width:40%;
    height:100%;
    background:#22c55e;
}

footer{
    text-align:center;
    margin-top:25px;
    color:#777;
}

@media(max-width:768px){

.container{
    width:100%;
}

.task-box{
    grid-template-columns:1fr;
}

.stats{
    grid-template-columns:1fr;
}

header h1{
    font-size:25px;
}

}